Source: keylime
Maintainer: Utkarsh Gupta <utkarsh.gupta@canonical.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 11),
               dh-exec,
               dh-python,
               libtss2-dev,
               python3-alembic,
               python3-all,
               python3-cryptography,
               python3-dbus,
               python3-gnupg,
               python3-m2crypto,
               python3-packaging,
               python3-psutil,
               python3-requests,
               python3-setuptools,
               python3-simplejson,
               python3-sqlalchemy,
               python3-tornado,
               python3-yaml,
               python3-zmq,
               tpm-udev,
               tpm2-tools,
Standards-Version: 4.5.0
Homepage: https://keylime.dev

Package: python3-keylime
Architecture: all
Depends: python3-keylime-agent,
         python3-keylime-defaultconf,
         python3-keylime-server,
         python3-keylime-tenant,
         ${misc:Depends},
Description: Keylime - full local install
 ${Description}
 .
 This is a metapackage meant for compatibility with former versions
 and will depend on python3-keylime-tenant, python3-keylime-server and
 python3-keylime-agent as well as python3-keylime-defaultconf bringing all
 services onto the local system including a configuration to connect against
 the local services.

Package: python3-keylime-lib
Architecture: all
Depends: libtss2-dev,
         python3,
         python3-cryptography,
         python3-gnupg,
         python3-m2crypto,
         python3-packaging,
         python3-psutil,
         python3-requests,
         python3-simplejson,
         python3-tornado,
         python3-yaml,
         python3-zmq,
         tpm-udev,
         tpm2-tools,
         ${misc:Depends},
         ${python3:Depends},
Recommends: python3-keylime-doc,
Description: Keylime python library
 ${Description}
 .
 These are the python libraries shared by server and agent components.

Package: python3-keylime-server
Architecture: all
Depends: adduser,
         python3,
         python3-alembic,
         python3-keylime-lib,
         python3-sqlalchemy,
         ${misc:Depends},
         ${python3:Depends},
Recommends: python3-keylime-defaultconf,
            python3-keylime-doc,
            python3-keylime-tenant,
Description: Keylime registrar and verifier
 ${Description}
 .
 These are the services "registrar" and "verifier" which make up a keylime
 management server.

Package: python3-keylime-agent
Architecture: all
Depends: adduser,
         python3,
         python3-keylime-lib,
         ${misc:Depends},
         ${python3:Depends},
Recommends: python3-keylime-doc,
Suggests: python3-keylime-defaultconf,
Description: Keylime agent
 ${Description}
 .
 This is the keylime agent which is meant to run on all measured/monitored
 systems - on its own it comes without a default configuration and will not
 start until one is provided to prevent misconfigurations.
 .
 Once you deploy /etc/keylime.conf via any means the service will start using
 that configuration. The package python3-keylime-doc will have an example
 in usr/share/doc/keylime/keylime.conf.

Package: python3-keylime-tenant
Architecture: all
Depends: adduser,
         python3,
         python3-keylime-lib,
         ${misc:Depends},
         ${python3:Depends},
Recommends: python3-keylime-defaultconf,
            python3-keylime-doc,
Description: Keylime tenant tool
 ${Description}
 .
 A tool for provisioning and to control keylime suite.

Package: python3-keylime-defaultconf
Architecture: all
Depends: ${misc:Depends},
Description: Keylime default config for a fully local installation
 ${Description}
 .
 This package contains a default config /etc/keylime.conf to running against
 a local verifier/registrar which is useful for testing but not a common real
 scenario for keylime.

Package: python3-keylime-doc
Architecture: all
Depends: ${misc:Depends},
Description: Keylime docs and example config
 ${Description}
 .
 This package contains the documentation provided by upstream and an example
 configuration file for keylime provided under the doc path at
 usr/share/doc/keylime/etc/keylime.conf.example.
