[Unit]
After=network.target
Before=keylime_registrar.service
Description=The Keylime verifier
StartLimitInterval=10s
StartLimitBurst=5
ConditionPathExistsGlob=/etc/keylime/verifier.conf
ConditionPathExistsGlob=/etc/keylime/logging.conf

[Service]
Group=tss
User=keylime
ExecStart=/usr/bin/keylime_verifier
Restart=on-failure
TimeoutSec=60s
RestartSec=120s

[Install]
WantedBy=multi-user.target
RequiredBy=keylime_registrar.service
