[Unit]
Description=The Keylime compute agent
StartLimitInterval=10s
StartLimitBurst=5
After=keylime_registrar.service
# This condition is needed to ensure that
# the device/machine is TPM-enabled.
ConditionPathExistsGlob=/dev/tpm[0-9]*
ConditionPathExistsGlob=/dev/tpmrm[0-9]*
ConditionPathExistsGlob=/etc/keylime/agent.conf
ConditionPathExistsGlob=/etc/keylime/logging.conf

[Service]
Environment=TPM2TOOLS_TCTI=device:/dev/tpmrm0 KEYLIME_CONFIG=/etc/keylime.conf
ExecStart=/usr/bin/keylime_agent
KillSignal=SIGINT
TimeoutSec=60s
Restart=on-failure
RestartSec=120s

[Install]
WantedBy=multi-user.target
