[Unit]
Description=The Keylime compute agent
StartLimitInterval=10s
StartLimitBurst=5
# This condition is needed to ensure that
# the device/machine is TPM-enabled.
ConditionPathExistsGlob=/dev/tpm[0-9]*
ConditionPathExistsGlob=/dev/tpmrm[0-9]*

[Service]
User=keylime
Group=tss
Environment=TPM2TOOLS_TCTI=device:/dev/tpmrm0 KEYLIME_CONFIG=/etc/keylime-agent.conf
ExecStartPre=-+chown -hHR keylime:tss /sys/kernel/security/tpm0
ExecStartPre=-+chown -hHR keylime:tss /sys/kernel/security/ima
ExecStart=/usr/bin/keylime_agent
KillSignal=SIGINT
TimeoutSec=60s
Restart=on-failure
RestartSec=120s

[Install]
WantedBy=multi-user.target
