[Unit]
Description=The Keylime registrar service
After=network.target
StartLimitInterval=10s
StartLimitBurst=5

[Service]
Group=tss
User=keylime
ExecStart=/usr/bin/keylime_registrar
TimeoutSec=60s
Restart=on-failure
RestartSec=120s

[Install]
WantedBy=multi-user.target
